<div class = "container my-pages">
<div class = "container col-md-4">
<h2 class = "text-center"><%= link_to "Books", "/books", :class => "index-link" %></h2>
  <div class = "container-fluid">
    <table class = "table table-responsive">
      <tbody>
        <% @books_array.each do |book| %>
          <tr>
            <td class = "my-rank"><%= book.rank %></td>
            <td><%= link_to book.name, "/books/show/#{book.id}", :class => "my-name-link" %></td>
            <td class = "creator-link"><%= book.author %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class = "container col-md-4">
<h2 class = "text-center"><%= link_to "Movies", "/movies", :class => "index-link" %></h2>
  <div class = "container-fluid">
    <table class = "table table-responsive">
      <tbody>
        <% @movies_array.each do |movie| %>
          <tr>
            <td class = "my-rank"><%= movie.rank %></td>
            <td><%= link_to movie.name, "/movies/show/#{movie.id}", :class => "my-name-link" %></td>
            <td class = "creator-link"><%= movie.director %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class = "container col-md-4">
<h2 class = "text-center"><%= link_to "Albums", "/albums", :class => "index-link" %></h2>
  <div class = "container-fluid">
    <table class = "table table-responsive">
      <tbody>
        <% @albums.each do |album| %>
          <tr>
            <td class = "my-rank"><%= album.rank %></td>
            <td><%= link_to album.name, "/albums/show/#{album.id}", :class => "my-name-link" %></td>
            <td class = "creator-link"><%= album.artist %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
