<div class = "container my-pages">
<h2><%= @album.name %></h2>
<h3 class = "grey"><%= @album.artist %></h3>
<h3 class = "green">Rank: <%= @album.rank %></h3>
<p><%= @album.description %></p>

<img><%= link_to image_tag("edit.png", :class => "my-icons"), "/albums/#{@album.id}/edit" %></img>
<img><%= link_to image_tag("trash.png", :class => "my-icons"), "/albums/destroy/#{@album.id}" %></img>
<img><%= link_to image_tag("thumb.png", :class => "my-icons"), "/albums/upvote/#{@album.id}" %></img>
<img><%= link_to image_tag("thumb.png", :class => "my-icons", :id => "rotate-thumb"), "/albums/downvote/#{@album.id}" %></p>

<td><%= link_to "View All Albums", albums_path, :class => "my-button" %></td>
<td><%= link_to "View All Media", "/", :class => "my-button" %></td>
</div>
