<h2 class = "text-center">albums</h2>
<div class = "container-fluid">
  <table class = "table table-responsive">
    <thead>
      <tr>
        <td>Rank</td>
        <td>Title</td>
        <td>Author</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @albums_array.each do |album| %>
        <tr>
          <td><%= album.rank %></td>
          <td><%= album.name %></td>
          <td><%= album.artist %></td>
          <td><%= album.description %></td>
          <td><%= link_to "Show", "/albums/show/#{album.id}" %></td>
          <td><%= link_to image_tag("edit.png", :class => "my-icons"), "/albums/#{album.id}/edit" %></td>
          <td><%= link_to image_tag("trash.png", :class => "my-icons"), "/albums/destroy/#{album.id}" %></td>
          <td><%= link_to image_tag("thumb.png", :class => "my-icons"), "/albums/upvote/#{album.id}" %></td>
          <td><%= link_to "Downvote", "/albums/downvote/#{album.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class = "container col-xs-12">
<%= link_to "New album", new_album_path%>
</div>
